* {
  box-sizing: border-box;
}
.header {
  background-color: #1d2126;
  position: sticky;
  z-index: 25;
  top: 0px;
}
.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
.navigation {
  width: 100%;
  display: block;
  margin-top: 25px;
  margin-bottom: 25px;
}
.menu {
  display: flex;
  align-self: center;
}
.menu li {
  color: rgba(255, 255, 255, 0.75);
  height: 30px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
  border: 2px solid transparent;
}
li:hover {
  border: 2px solid rgba(255, 255, 255, 0.75);
  border-radius: 5px;
}
.menu a {
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}
.menu-block {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide-1 {
  background-image: url(Blog/fon_1.png);
  background-size: cover;
}
.slider {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 5%;
}
.title {
  padding-top: 80px;
  padding-bottom: 60px;
  width: 100%;
  font-family: "Quattrocento Sans", sans-serif;
}
.title-1 {
  color: white;
  font-size: auto;
  font-weight: bold;
  margin-top: 15%;
  display: flex;
  justify-content: flex-start;
}
.lorem {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 10px;
}
.sub button {
  width: 80px;
  height: 25px;
  font-size: 10px;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 3px;
  background: transparent;
  color: white;
  margin-bottom: 25%;
}
.sub button:hover {
  background-color: #39a492;
  border: none;
}
.sub2 {
  margin-left: 5px;
}
.slide-2 {
  background-color: white;
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
}
.title-2 {
  border-left: 5px solid rgba(0, 0, 0, 0.25);
  padding-left: 15px;
  color: black;
  font-size: 36px;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
}
.lorem-2 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}
.lorem-p1 {
  padding-top: 5%;
  padding-bottom: 5%;
}
.lorem-p2 {
  font-weight: bold;
}
.networks {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10%;
  margin-top: 55px;
}
.networks article {
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.25);
  margin-right: 2px;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.networks .fb {
  background-image: url(Blog/B_fb_log.png);
}
.networks .twit {
  background-image: url(Blog/B_twit_log.png);
}
.networks .google {
  background-image: url(Blog/B_google_log.png);
}
.networks .basket {
  background-image: url(Blog/ball_bask.png);
}
.networks .be {
  background-image: url(Blog/Be.png);
}
.green-num {
  margin-top: 8%;
}
.gr-blok {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 30px;
}
.gr-title {
  text-transform: uppercase;
  color: black;
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
}
.gr-h1 {
  width: 50px;
  height: 50px;
  background-color: #39a493;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
.gr-h2 {
  color: rgba(0, 0, 0, 0.5);
}

.team-block {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin-bottom: 18%;
}
img {
  max-width: 100%;
}
.name-block {
  max-width: 263px;
  width: 100%;
  padding: 12px;
  padding-left: 20px;
  background-color: #e1e6ea;
}
.name-block span {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 35px;
}
.name-block p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #8d8f92;
}
.networks-block {
  visibility: hidden;
  display: flex;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.team-block:hover .foto-block {
  opacity: 50%;
}
.team-block:hover .name-block {
  background-color: #3a454d;
  color: white;
}
.team-block:hover .net {
  visibility: visible;
}
.networks-block:hover {
  opacity: 75%;
}
.networks-block article {
  width: 50px;
  height: 50px;
  background-color: #3a454d;
  margin-right: 1px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.twit {
  background-image: url(Blog/B_twit_log.png);
  background-position: center;
}
.fb {
  background-image: url(Blog/B_fb_log.png);
  background-position: center;
}
.in {
  background-image: url(Blog/B_in_log.png);
  background-position: center;
}
.slide-4 {
  background-color: #3a454d;
}
.title-3 {
  height: 35px;
  border-left: 10px solid #4e5961;
  font-size: 36px;
  padding-left: 15px;
  color: white;
}
.work-photo-block {
  position: relative;
  margin-top: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.work-photo-block:hover .work-photo {
  opacity: 35%;
}
.work-photo-block:hover .work-plus {
  display: block;
}
.work-photo-block:hover .work-about {
  display: block;
}
.work-photo {
  width: 100%;
  max-width: 100%;
}
.work-plus {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.work-about {
  background-color: #292f36;
  color: white;
  position: absolute;
  top: 80%;
  max-width: 360px;
  width: 100%;
  display: none;
  text-align: center;
}
.work-about h2 {
  padding: 20px;
  max-width: 100%;
  text-align: center;
}
.but-sub button {
  justify-content: center;
  width: 150px;
  height: 45px;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 3px;
  background: transparent;
  color: white;
}
.but-sub button:hover {
  background-color: #39a492;
  border: none;
}
.but-sub {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 10%;
}
.sub3 {
  text-align: center;
}
.what-link {
  padding: 15px;
}
.what-link-text {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.what-link-text h2 {
  font-size: 17px;
  font-weight: 900;
}
.what-img-details {
  height: 50px;
  background-image: url(Blog/what-details.png);
  background-repeat: no-repeat;
  background-position: center;
}
.what-img-pen {
  height: 50px;
  background-image: url(Blog/what-pen.png);
  background-repeat: no-repeat;
  background-position: center;
}
.what-img-phone {
  height: 50px;
  background-image: url(Blog/what-phone.png);
  background-repeat: no-repeat;
  background-position: center;
}
.what-img-clock {
  height: 50px;
  background-image: url(Blog/what-clock.png);
  background-repeat: no-repeat;
  background-position: center;
}
.slide-6 {
  background-color: #3a454d;
}
.feature-block {
  margin-bottom: 50px;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
}
.feature-photo {
  text-align: center;
}
.feature-text {
  color: white;
  margin-bottom: 20px;
  margin-top: 20px;
  line-height: 20px;
}
.feature-text h2 {
  font-size: 18px;
  font-weight: 900;
}
.contact-info h2 {
  margin-top: 60px;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 20px;
}
.contact-info p {
  font-weight: lighter;
  margin-bottom: 10%;
}
.contact-info p span {
  font-weight: bold;
}
.footer {
  background-color: #3a454d;
}
.finish {
  height: 90px;
  line-height: 90px;
  color: white;
  font-size: 14px;
}
.finish-contacts {
  display: flex;
  justify-content: flex-end;
}
.finish-icon {
  width: 30px;
  height: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.finish-twit {
  background-image: url(Blog/fin-twit.png);
  background-position: center;
}
.finish-fb {
  background-image: url(Blog/fin-fb.png);
  background-position: center;
}
.finish-skype {
  background-image: url(Blog/fin-skype.png);
  background-position: center;
}
.finish-be {
  background-image: url(Blog/fin-be.png);
  background-position: center;
}
.finish-in {
  background-image: url(Blog/in_log.png);
  background-position: center;
}
.slide-7 {
  position: relative;
}
.modal {
  display: block;
  position: sticky;
  width: 100%;
  height: 100%;
  z-index: 24;
  background-color: rgba(0, 0, 0, 0.55);
  border: none;
}
.modal-block {
  background-color: white;
  border: none;
  display: flex;
  flex-direction: column;
}
.modal-block-name {
  padding-top: 30px;
  width: 50%;
}
.modal-block-email {
  padding-top: 30px;
  width: 50%;
}
.modal-block-textarea {
  padding-top: 30px;
  width: 100%;
}
.form-fields {
  margin: 10px;
}
h7 {
  margin: 15px;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}
.form-fields-textarea {
  margin: 10px;
}
.form-fields-textarea textarea {
  padding: 10px;
  width: 100%;
  height: 160px;
  border-radius: 5px;
  background-color: #eaeef1;
  border: none;
}
.form-fields-textarea textarea:focus {
  outline: none;
}
.form-fields input {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  height: 45px;
  border-radius: 5px;
  background-color: #eaeef1;
  border: none;
}
.form-fields input:focus {
  outline: none;
}
.send-message {
  margin: 10px;
  width: 150px;
  height: 45px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  font-family: "Quattrocento Sans", sans-serif;
  background-color: royalblue;
  color: white;
  cursor: pointer;
}
.send-message:hover {
  background-color: #39a493;
  color: white;
}

@media (max-width: 767px) {
  .logo {
    display: flex;
    justify-content: start;
    align-self: center;
  }
  .menu {
    width: 100%;
    display: flex;
    align-self: center;
    overflow-x: scroll;
    justify-content: flex-start;
  }
  .nav-mobile-menu {
    width: 15px;
    height: 15px;
    position: relative;
  }
  .nav-mobile-menu span {
    height: 1px;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    transition: 0.25s ease-in-out;
  }
  .nav-mobile-menu span:first-child {
    top: 3px;
  }
  .nav-mobile-menu span:nth-child(2) {
    top: 7px;
  }
  .nav-mobile-menu span:last-child {
    bottom: 3px;
  }

  .nav-mobile-menu.active-menu span:first-child {
    top: 50%;
    transform: rotate(45deg);
  }
  .nav-mobile-menu.active-menu span:nth-child(2) {
    top: 50%;
    transform: rotate(-45deg);
  }
  .nav-mobile-menu.active-menu span:last-child {
    transform: scale(0);
  }
  .navigation {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    max-width: 280px;
    width: 280px;
    transform: translateX(150%);
  }
  .navigation.active-menu {
    opacity: 1;
    visibility: visible;
    top: 50px;
    padding: 25px;
    transform: translateX(0);
  }
  .menu-block {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .team-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .feature-text {
    text-align: center;
  }
  .networks-block article {
    width: 40px;
    height: 40px;
    background-size: contain;
  }
  .gr-h1 {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }
  .finish-contacts {
    display: flex;
    justify-content: space-around;
  }
  .finish {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .menu li {
    color: rgba(255, 255, 255, 0.75);
    height: 30px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    border: 2px solid transparent;
  }
  .navigation {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
  }
  .menu {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: space-around;
    font-size: 14px;
  }
  li:hover {
    border: 2px solid rgba(255, 255, 255, 0.75);
    border-radius: 5px;
  }
  .form-search {
    margin-top: 25px;
    margin-bottom: 25px;
    position: relative;
    box-sizing: border-box;
    justify-content: space-between;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
  }
  .form-search input {
    width: 100%;
    padding: 5px;
    background: transparent;
    color: white;
    box-sizing: border-box;
    border: none;
  }
  .form-search > input {
    width: 75%;
  }
  .form-search input:focus {
    outline: none;
  }
  ::placeholder {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.75);
    border: transparent;
  }
  .form-search button {
    width: 25px;
    height: 25px;
    border: none;
    padding: 0;
    position: absolute;
    right: 8px;
    background: transparent;
    background-image: url(Blog/loop_g.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
  }
  .title-1 {
    font-size: 24px;
  }
  .team-block {
    max-width: 263px;
  }
  .sub button {
    width: 100px;
    height: 35px;
    font-size: 12px;
    border: 2px solid white;
    border-radius: 3px;
    background: transparent;
    color: white;
    margin-bottom: 25%;
  }
}
@media (min-width: 992px) {
  li:hover {
    border: 2px solid rgba(255, 255, 255, 0.75);
    border-radius: 5px;
  }
  .title-1 {
    font-size: 36px;
  }
  .sub button {
    width: 120px;
    height: 45px;
    font-size: 14px;
    border: 2px solid white;
    border-radius: 3px;
    background: transparent;
    color: white;
    margin-bottom: 25%;
  }
}
